
<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h2 class="text-center my-4">Edit your Listings</h2>
  <form method="POST"
        action="/listings/<%= list._id %>?_method=PATCH"
        class="needs-validation"
        enctype="multipart/form-data">

    <div class="container col-md-6 offset-md-3">

      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input name="listing[title]" class="form-control" value="<%= list.title %>" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input name="listing[description]" class="form-control" value="<%= list.description %>" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Original Listing Image:</label><br>
        <img src="<%= list.image.url %>" class="img-fluid mb-2" style="max-height: 200px;">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Replace Image:</label>
        <input name="listing[image]" type="file" class="form-control">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input name="listing[price]" value="<%= list.price %>" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input name="listing[location]" class="form-control" value="<%= list.location %>" required>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country:</label>
        <input name="listing[country]" class="form-control" value="<%= list.country %>" required>
      </div>

      <button type="submit" class="btn btn-warning w-100">Submit</button>
<br><br/>
    </div>
  </form>
</body>
</html>
